.subMenu {
    /* display: none; */
    position: absolute;
}
.subMenuButton {
    white-space: nowrap;
    font-size: 23px;
    color: white;
    padding: 5px;
}
.subMenuButton:nth-child(even) {
    margin-left: -40px;
}
.subMenuButton:nth-child(odd) {
    margin-right: 40px;
}
.line {
    height: 0px;
    width: 1px;
    background-color: white;
    -webkit-transition: height 1s, transform 1s;
    -moz-transition: height 1s, transform 1s;
    -o-transition: height 1s, transform 1s;
    transition: height 1s, transform 1s;
}
.gallery:hover + .subMenu .line {
    height: 300px;
    color: red;
}